*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 40px;
  background-color: rgba(232, 224, 233, 0.5);
}
.square{
  font-size: 30px;
  font-weight: 400;
  width: 100px;
  height: 100px;
  border: 3px solid rebeccapurple;
  background-color: white;
  cursor: pointer;
  padding: 25px 0;
  text-align: center;
  background-color: rgba(232, 224, 233, 0.1);
}
.square-x{
  color:#4CBF0D;
}
.square-y{
  color:#D49339;
}

.board{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: 150px
}
.board-row{
  max-height: 100px;
  display: flex;
}
.game{
  display: flex;
  justify-content: space-around;
}
.status{
  width: 400px;
  margin: 50px auto 80px;
  min-height: 80px;
  text-align: center;
  color: rebeccapurple;
}
.status-win--x{
  font-size: 60px;
  color: #4CBF0D;
}
.status-win--y{
  font-size: 60px;
  color:#D49339;
}
.status--over{
  font-size: 60px;
  color:darkred;
}
.moves-item{
  font-size: 20px;
}

.move{
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.move-to-start{
  color: rebeccapurple;
}
.move-to-X{
  color: #4CBF0D;
}
.move-to-O{
  color:#D49339;
}

.move-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  height: 300px;
  width: 400px;
  list-style-type: none
}
.container{
  max-width: 1200px;
  margin-left: 40px;
}