@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

html {
    background-color: black;
}
.container {
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
}
.home--unactive{
    transform: scale(0);
    transition-timing-function: steps(8, jump-start);
    transition-duration: 0.4s;
}
.home__content{
    max-width: 450px;
    margin: auto;
    color: white;
    overflow: hidden;
}
.home__title{
    font-size: 100px;

}
.home__text{
    font-size: 30px;
    text-align: center;
    animation: marquee 7s steps(40, jump-start) infinite;
}
@keyframes marquee{
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(-100%)
    }
}
.square {
    font-size: 55px;
    font-weight: 700;
    width: 130px;
    height: 130px;
    background-color: black;
    cursor: pointer;
    text-align: center;
    border: 3px solid rgba(254, 254, 254, 0.9);

}

.square-x {
    color: chartreuse;
}

.square-y {
    color: orange;
}

.board {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 130px;
    border: 3px solid rgba(254, 254, 254, 0.9);
}

.board-row {
    max-height: 130px;
    display: flex;
}

.game {
    display: flex;
    gap: 150px;
}

.status {
    font-size: 60px;
    font-weight: 700;
    width: 400px;
    margin: 50px auto 75px;
    min-height: 80px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}

.status-win--x {
    font-size: 60px;
    font-weight: 700;
    color: chartreuse;
}

.status-win--y {
    font-size: 60px;
    font-weight: 700;
    color: orange;
}

.status--over {
    font-size: 60px;
    font-weight: 700;
    color: red;
}

.moves-item {
    font-size: 20px;
    font-weight: 700;
}

.move {
    font-size: 30px;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
}

.move-to-start {
    color: rgba(254, 254, 254, 0.9);
}

.move-to-X {
    color: chartreuse;
}

.move-to-O {
    color: orange;
}

.move-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    height: 300px;
    width: 400px;
    list-style-type: none
}


.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    display: flex;
    flex-direction: column;
}
.close {
    width: 20px;
    height: 25px;
    position: relative;
    left: 245px;
    bottom: 15px;
    top: 10px;
    cursor: pointer;
}
.modal__content {
    color: white;
    padding: 10px 50px 30px 50px;
    background-color: black;
    width: 350px;
    height: 400px;
    border: 5px solid white;
    transform: scale(0.5);
}

.modal__content.active {
    transition: 0.3s;
    transition-timing-function: steps(8, jump-start);
    transform: scale(1);
    pointer-events: all;
}

.modal__title {
    font-size: 58px;
    padding-bottom: 10px;
}
.modal__line{
    margin-bottom: 5px;
    font-size: 12px;
    white-space: nowrap;
    letter-spacing: -0.5px;
    font-weight: 500;
}
.modal__line--over{
    margin-bottom: 5px;
    font-size: 12px;
    white-space: nowrap;
    letter-spacing: -0.5px;
    font-weight: 500;
}
.modal__line:last-of-type{
    margin-bottom: 40px;
}
.modal__line--over:last-of-type {
    margin-bottom: 25px;
}
.modal__title--over{
    font-size: 58px;
    padding-bottom: 5px;
}
.modal__desc {
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
}

.modal__lives {
    display: flex;
    height: 65px;
    margin-bottom: 20px;
}
.modal__lives--hidden{
    display: none;
}
.btn__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.modal__btn {
    color: white;
    font-size: 20px;
    padding: 7px 30px;
    border: 3px solid white;
    position: relative;
    cursor: pointer;
}

.modal__btn--play {
    background-color: rgba(127, 255, 0, 0.7);
}

.modal__btn--watch {
    background-color: rgba(255, 165, 0, 0.8);
    font-size: 25px;
}
.modal__btn--play:disabled{
    opacity: 0.5;
    padding: 5px 25px;
}

.modal__live {
    width: 80px;
    height: 65px;
    padding-right: 15px;
    background-color: black;
}

.modal__live--hidden {
    width: 80px;
    height: 65px;
    transition: 0.25s;
    transition-timing-function: steps(2, jump-end);
    transform: scale(0.5) scale(0);
}

.modal__text--hidden {
    display: none;
}

.modal__text {
    font-size: 22px;
    margin-bottom: 15px;
}